# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Rider / Visual Studio
.idea/
.vs/
*.csproj
*.sln
*.user
*.pidb
*.booproj

# OS files
.DS_Store
Thumbs.db

# Unity cache
*.log
*.tmp

# Addressables
AddressableAssetsData/*/*.bin*

# Firebase large plugins
Assets/Firebase/Plugins/x86_64/
Assets/StreamingAssets/google-services-desktop.json
Assets/StreamingAssets/google-services.json
google-services.json
GoogleService-Info.plist

# Markdown files
*.md

# Exception: track the main technical documentation in the repo
!/TECHNICAL_DOCUMENTATION.md
