<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqodhe8dS3cqE6DVXiQoJPnzNa1cuty3k</string>
	<key>GCM_SENDER_ID</key>
	<string>385724884335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schmid.ateliermanager</string>
	<key>PROJECT_ID</key>
	<string>ateliermanager-e7c06</string>
	<key>STORAGE_BUCKET</key>
	<string>ateliermanager-e7c06.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385724884335:ios:983cf2cb7f6adbbace349a</string>
	<key>DATABASE_URL</key>
	<string>https://ateliermanager-e7c06-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>